In [12]:
import pandas as pd
import os

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 77B6-1F68

 Directory of C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience

18/05/2023  02:09 PM    <DIR>          .
18/05/2023  02:09 PM    <DIR>          ..
18/05/2023  02:07 PM    <DIR>          .ipynb_checkpoints
18/05/2023  02:12 PM    <DIR>          data
18/05/2023  02:06 PM                40 README.md
18/05/2023  02:09 PM               589 Untitled.ipynb
               2 File(s)            629 bytes
               4 Dir(s)  817,603,436,544 bytes free

In [8]:
cd data

C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience\data

In [6]:
data_dir = 'data/'

In [9]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 77B6-1F68

 Directory of C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience\data

18/05/2023  02:12 PM    <DIR>          .
18/05/2023  02:12 PM    <DIR>          ..
15/02/2023  10:39 AM            53,189 Table 32a Non-special Schools by Primary Enrolment, 2004-2022.xlsx
15/02/2023  10:39 AM            59,949 Table 33a Non-special Schools by Secondary Enrolment, 2004-2022.xlsx
15/02/2023  10:39 AM           137,760 Table 35b Counts of all Schools, 2010-2022.xlsx
15/02/2023  10:39 AM           231,564 Table 36a Non-special Schools by Enrolment Size Ranges, 2015-2022.xlsx
15/02/2023  10:39 AM         7,812,321 Table 42b Number of Full-time and Part-time Students, 2006-2022.xlsx
15/02/2023  10:39 AM         3,144,453 Table 43a Full-time Equivalent Students, 2006-2022.xlsx
15/02/2023  10:39 AM            80,553 Table 46a Students (FTE) by ASGS Remoteness Indicator, 2022.xlsx
15/02/2023  10:39 AM           179,930 Table 50a In-school Staff (Number), 2006-2022.xlsx
15/02/2023  10:39 AM           807,690 Table 51a In-school Staff (FTE), 2006-2022.xlsx
15/02/2023  10:39 AM           126,633 Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022.xlsx
15/02/2023  10:39 AM           229,719 Table 57a Out-of-school Staff (Number and FTE), 2015-2022.xlsx
15/02/2023  10:39 AM            92,701 Table 62a Capped Apparent Continuation Rates, 2011-2022.xlsx
15/02/2023  10:39 AM           372,112 Table 63a Capped Apparent Retention Rates by Single Year (Grade), 2011-2022.xlsx
15/02/2023  10:39 AM           587,616 Table 64a Capped Apparent Retention Rates, 2011-2022.xlsx
15/02/2023  10:39 AM           514,464 Table 64b Capped Apparent Retention Rates (FTE), 2013-2022.xlsx
15/02/2023  10:39 AM           193,466 Table 66a Capped School Participation Rates for Students Aged 6-19, 2011-2022.xlsx
15/02/2023  10:39 AM         1,249,025 Table 67a Consolidated Student Rates, 2011-2022.xlsx
15/02/2023  10:39 AM           130,855 Table 90a Key Information, by States and Territories, 2021 to 2022.xlsx
              18 File(s)     16,004,000 bytes
               2 Dir(s)  817,582,714,880 bytes free

In [10]:
cd ..

C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience

In [13]:
print("Path of the file..", os.path.abspath('Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022'))

Path of the file.. C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience\Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022

In [14]:
file_path = os.path.abspath('Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022')

In [16]:
os.getcwd()

'C:\\Users\\Rudol\\Github\\Nous-Data-Analytics-Virtual-Experience\\Nous-Data-Analytics-Virtual-Experience'

In [24]:
os.listdir()

['Table 32a Non-special Schools by Primary Enrolment, 2004-2022.xlsx',
 'Table 33a Non-special Schools by Secondary Enrolment, 2004-2022.xlsx',
 'Table 35b Counts of all Schools, 2010-2022.xlsx',
 'Table 36a Non-special Schools by Enrolment Size Ranges, 2015-2022.xlsx',
 'Table 42b Number of Full-time and Part-time Students, 2006-2022.xlsx',
 'Table 43a Full-time Equivalent Students, 2006-2022.xlsx',
 'Table 46a Students (FTE) by ASGS Remoteness Indicator, 2022.xlsx',
 'Table 50a In-school Staff (Number), 2006-2022.xlsx',
 'Table 51a In-school Staff (FTE), 2006-2022.xlsx',
 'Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022.xlsx',
 'Table 57a Out-of-school Staff (Number and FTE), 2015-2022.xlsx',
 'Table 62a Capped Apparent Continuation Rates, 2011-2022.xlsx',
 'Table 63a Capped Apparent Retention Rates by Single Year (Grade), 2011-2022.xlsx',
 'Table 64a Capped Apparent Retention Rates, 2011-2022.xlsx',
 'Table 64b Capped Apparent Retention Rates (FTE), 2013-2022.xlsx',
 'Table 66a Capped School Participation Rates for Students Aged 6-19, 2011-2022.xlsx',
 'Table 67a Consolidated Student Rates, 2011-2022.xlsx',
 'Table 90a Key Information, by States and Territories, 2021 to 2022.xlsx']

In [20]:
cd data

C:\Users\Rudol\Github\Nous-Data-Analytics-Virtual-Experience\Nous-Data-Analytics-Virtual-Experience\data

In [56]:
columns = 'year', 'state_territory', 'affiliation', 'school_level', 'student_teacher_ratio'
skip_rows = 5
skip_footer = 11

In [99]:
file = pd.read_excel('Table 53a Student (FTE) to Teaching Staff (FTE) Ratios, 2006-2022.xlsx', sheet_name = 'Table 1', names = columns, skiprows = skip_rows, skipfooter = skip_footer)
file

,year,state_territory,affiliation,school_level,student_teacher_ratio
0,2022,a NSW,a Government,b Secondary School,13.0
1,2022,a NSW,a Government,c All Levels,14.2
2,2022,a NSW,b Non-Government,a Primary School,15.0
3,2022,a NSW,b Non-Government,b Secondary School,11.1
4,2022,a NSW,b Non-Government,c All Levels,12.7
...,...,...,...,...,...
2289,2006,i Aust.,d Independent,b Secondary School,10.7
2290,2006,i Aust.,d Independent,c All Levels,12.1
2291,2006,i Aust.,e All Affiliations,a Primary School,16.0
2292,2006,i Aust.,e All Affiliations,b Secondary School,12.2
2293,2006,i Aust.,e All Affiliations,c All Levels,14.1

In [102]:
file['state_territory'].unique()

array(['a NSW', 'b Vic.', 'c Qld', 'd SA', 'e WA', 'f Tas.', 'g NT',
       'h ACT', 'i Aust.'], dtype=object)

In [107]:
state_territory_dict = {'a NSW': 'nsw',
                       'b Vic.' : 'vic',
                       'c Qld' : 'qld'}

In [112]:
file = file.replace({"state_territory": state_territory_dict})

In [113]:
qld_file['affiliation'].unique()

array(['a Government', 'b Non-Government', 'c Catholic', 'd Independent',
       'e All Affiliations'], dtype=object)

In [114]:
affiliation_dict = {'a Government': 'government'}

In [115]:
file = file.replace({'affiliation': affiliation_dict})

In [116]:
qld_file['school_level'].unique()

array(['a Primary School', 'b Secondary School', 'c All Levels',
       'a Primary school', 'b Secondary school'], dtype=object)

In [117]:
school_level_dict = {'b Secondary School': 'secondary',
                    'b Secondary school' : 'secondary'}

In [118]:
file = file.replace({'school_level' : school_level_dict})

In [119]:
df = file[(file['state_territory'] == 'nsw') | 
          (file['state_territory'] == 'vic') | 
          (file['state_territory'] == 'qld') ]
df

,year,state_territory,affiliation,school_level,student_teacher_ratio
0,2022,nsw,government,secondary,13.0
1,2022,nsw,government,c All Levels,14.2
2,2022,nsw,b Non-Government,a Primary School,15.0
3,2022,nsw,b Non-Government,secondary,11.1
4,2022,nsw,b Non-Government,c All Levels,12.7
...,...,...,...,...,...
2199,2006,qld,d Independent,secondary,12.0
2200,2006,qld,d Independent,c All Levels,13.1
2201,2006,qld,e All Affiliations,a Primary School,15.6
2202,2006,qld,e All Affiliations,secondary,12.8
2203,2006,qld,e All Affiliations,c All Levels,14.3

In [120]:
df = df[df['affiliation'] == 'government']
df

,year,state_territory,affiliation,school_level,student_teacher_ratio
0,2022,nsw,government,secondary,13.0
1,2022,nsw,government,c All Levels,14.2
14,2022,vic,government,a Primary School,13.5
15,2022,vic,government,secondary,11.6
16,2022,vic,government,c All Levels,12.7
...,...,...,...,...,...
2175,2006,vic,government,secondary,11.9
2176,2006,vic,government,c All Levels,13.9
2189,2006,qld,government,a Primary School,15.5
2190,2006,qld,government,secondary,13.0
2191,2006,qld,government,c All Levels,14.4

In [126]:
df = df[df['school_level'] == 'secondary']
df.head()

     year state_territory affiliation school_level  student_teacher_ratio
0    2022             nsw  government    secondary                   13.0
15   2022             vic  government    secondary                   11.6
30   2022             qld  government    secondary                   12.1
135  2021             nsw  government    secondary                   13.2
150  2021             vic  government    secondary                   11.8

In [127]:
df.describe()

              year  student_teacher_ratio
count    51.000000              51.000000
mean   2014.000000              12.396078
std       4.947727               0.432648
min    2006.000000              11.600000
25%    2010.000000              12.100000
50%    2014.000000              12.400000
75%    2018.000000              12.500000
max    2022.000000              13.900000

Checking for nans

In [129]:
df.isnull().values.any()

False

Since the output was false, we don't need to find the nans with `df.isnull()`

In [139]:
type(df)

pandas.core.frame.DataFrame

In [144]:
df.to_csv('student_teacher_ratio.csv', index = False)